<p class="leading-7 [&:not(:first-child)]:mt-6">The Combobox component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/combobox_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_combobox.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
The method <%= code("render_combobox") %> method accepts two mandtory arguments: an array of hashes that each have a <%= code("value") %> and name <%= code("name") %> and an <%= code("identifier") %> . Also, is it possible to allow the selection of multiple values using the <%= code("multiple: true") %> parameter.</p>

<p class="leading-7 [&:not(:first-child)]:mt-6">This componnet is the combination of a popover and a filter.</p>
