<p class="leading-7 [&:not(:first-child)]:mt-6">The Badge component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/badge_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_badge.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
The method <%= code("render_badge") %> defined in <%= code("app/helpers/components/badge_helper.rb") %>
accepts a <%= code("text:") %> required keyword argument along with an optional <%= code("variant:") %> argument for the kind of badge to render.</p>
