<div
  class="h-full w-full rounded-[inherit] overflow-y-scroll-auto overflow-x-hidden">
  <div style="min-width: 100%; display: table">
    <div class="w-full">
      <div class="pb-4">
        <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Getting Started</h4>
        <div class="grid grid-flow-row auto-rows-max text-sm">
          <%= sidebar_link "Introduction", documentation_index_path %>
          <%= sidebar_link "Installation", documentation_path("installation") %>
          <%= sidebar_link "Generators", documentation_path("generators") %>
          <%= sidebar_link "About", documentation_path("about") %>
        </div>
      </div>
      <div class="pb-4">
        <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Components</h4>
        <div class="grid grid-flow-row auto-rows-max text-sm">
          <%= sidebar_link "✅ Accordion", "/docs/components/accordion" %>
          <%= sidebar_link "✅ Alert", "/docs/components/alert" %>
          <%= sidebar_link "✅ Alert Dialog", "/docs/components/alert-dialog" %>
          <%= sidebar_link "❌ Aspect Ratio", "/docs/components/aspect-ratio" %>
          <%= sidebar_link "❌ Avatar", "/docs/components/avatar" %>
          <%= sidebar_link "✅ Badge", "/docs/components/badge" %>
          <%= sidebar_link "✅ Button", "/docs/components/button" %>
          <%= sidebar_link "❌ Calendar", "/docs/components/calendar" %>
          <%= sidebar_link "✅ Card", "/docs/components/card" %>
          <%= sidebar_link "✅ Checkbox", "/docs/components/checkbox" %>
          <%= sidebar_link "✅ Collapsible", "/docs/components/collapsible" %>
          <%= sidebar_link "Combobox", "/docs/components/combobox" %>
          <%= sidebar_link "Command", "/docs/components/command" %>
          <%= sidebar_link "Context Menu", "/docs/components/context-menu" %>
          <%= sidebar_link "Data Table", "/docs/components/data-table" %>
          <%= sidebar_link "Date Picker", "/docs/components/date-picker" %>
          <%= sidebar_link "✅ Dialog", "/docs/components/dialog" %>
          <%= sidebar_link "Dropdown Menu", "/docs/components/dropdown-menu" %>
          <%= sidebar_link "➕ Filter", "/docs/components/filter" %>
          <%= sidebar_link "Form", "/docs/components/form" %>
          <%= sidebar_link "✅ Hover Card", "/docs/components/hover-card" %>
          <%= sidebar_link "✅ Input", "/docs/components/input" %>
          <%= sidebar_link "✅ Label", "/docs/components/label" %>
          <%= sidebar_link "Menubar", "/docs/components/menubar" %>
          <%= sidebar_link "Navigation Menu", "/docs/components/navigation-menu" %>
          <%= sidebar_link "✅ Popover", "/docs/components/popover" %>
          <%= sidebar_link "✅ Progress", "/docs/components/progress" %>
          <%= sidebar_link "Radio Group", "/docs/components/radio-group" %>
          <%= sidebar_link "Scroll Area", "/docs/components/scroll-area" %>
          <%= sidebar_link "Select", "/docs/components/select" %>
          <%= sidebar_link "✅ Separator", "/docs/components/separator" %>
          <%= sidebar_link "✅ Sheet", "/docs/components/sheet" %>
          <%= sidebar_link "✅ Skeleton", "/docs/components/skeleton" %>
          <%= sidebar_link "✅ Slider", "/docs/components/slider" %>
          <%= sidebar_link "Switch", "/docs/components/switch" %>
          <%= sidebar_link "Table", "/docs/components/table" %>
          <%= sidebar_link "Tabs", "/docs/components/tabs" %>
          <%= sidebar_link "✅ Textarea", "/docs/components/textarea" %>
          <%= sidebar_link "✅ Toast", "/docs/components/toast" %>
          <%= sidebar_link "✅ Toggle", "/docs/components/toggle" %>
          <%= sidebar_link "✅ Tooltip", "/docs/components/tooltip" %>
        </div>
      </div>
    </div>
  </div>
</div>
