<%= render_popover do %>
  <%= popover_trigger do %>
    <button type="button" role="combobox" aria-controls="radix-:r50:" aria-expanded="false" aria-autocomplete="none" dir="ltr" data-state="closed" class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-[180px]"><span style="pointer-events: none;">
      Banana</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 opacity-50" aria-hidden="true"><polyline points="6 9 12 15 18 9"></polyline></svg></button><%= name %>
  <% end %>
  <%= popover_content class: "p-1 w-56" do %>
    <%= content_for(:select_options) %>
  <% end %>
<% end %>
<%= input_tag type: hidden, name: name %>
