<p class="leading-7 [&:not(:first-child)]:mt-6">The Alert component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/alert_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_alert.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
The method <%= code("render_alert") %> defined in <%= code("app/helpers/components/alert_helper.rb") %>
accepts a <%= code("title:") %> and <%= code("description:") %> required keyword arguments along with an option <%= code("variant:") %> argument for the kind of alert to render.</p>
