<p class="leading-7 [&:not(:first-child)]:mt-6">The Toast component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/toast_helper.rb") %></li>
  <li><%= code("app/javascript/controllers/ui/toast_controller.js") %></li>
  <li><%= code("app/views/components/ui/_toast.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
<%= code("render_toast") %> accepts two keyword arguments, one for the <%= code("header") %> and the second for the <%= code("description") %>
or body of the toast. An optional 3rd argument can be provided for an <%= code("action") %> element like a button.</p>
