<!--prettier-ignore-->
<%= render "layouts/documentation/component_header",
  title: "Alert",
  description: "Displays a callout for user attention" %>

<% content_for :preview, flush: true do %>
  <div class="w-full">
    <%= render_alert title: "Did you know?", description: "You can wrap shadcn helpers in any
  component library you want!" %>
  </div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("alert/code/preview", :erb) %>
<% end %>

<%= render_preview %>

<h2 class="font-heading scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0" id="installation">Installation</h2>
<%= code_sample(language: "sh") do %>
  rails generate shadcn-ui accodordion
<% end %>

<h2 class="font-heading mt-12 scroll-m-20 border-b pb-2 mb-2 text-2xl font-semibold tracking-tight first:mt-0" id="usage"><a href="/docs/components/dialog#usage">Usage</a></h2>

<%= code_partial("alert/code/usage", :erb) %>

<%= render_usage("alert") %>

<% content_for :examples, flush: true do %>
  <div class="w-full flex justify-center">
    <div role="alert" class="border-success/50 text-success dark:border-success [&amp;>svg]:text-success relative w-full rounded-lg border p-4 [&amp;:has(svg)]:pl-11 [&amp;>svg+div]:translate-y-[-3px] [&amp;>svg]:absolute [&amp;>svg]:left-4 [&amp;>svg]:top-4">
      <h5 class="mb-1 font-medium leading-none tracking-tight">Success</h5>
      <div class="text-sm [&amp;_p]:leading-relaxed">This variant is :success</div>
    </div>
  </div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("alert/code/_success", :erb) %>
<% end %>
<%= render_example %>

<% content_for :examples, flush: true do %>
  <div class="w-full flex justify-center">
    <div role="alert" class="border-info/50 text-info dark:border-info [&amp;>svg]:text-info relative w-full rounded-lg border p-4 [&amp;:has(svg)]:pl-11 [&amp;>svg+div]:translate-y-[-3px] [&amp;>svg]:absolute [&amp;>svg]:left-4 [&amp;>svg]:top-4">
      <h5 class="mb-1 font-medium leading-none tracking-tight">Info</h5>
      <div class="text-sm [&amp;_p]:leading-relaxed">This variant is :info</div>
    </div>
  </div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("alert/code/_info", :erb) %>
<% end %>

<%= render_example %>

<% content_for :examples, flush: true do %>
  <div class="w-full flex justify-center">
    <div role="alert" class="border-attention/50 text-attention dark:border-attention [&amp;>svg]:text-attention relative w-full rounded-lg border p-4 [&amp;:has(svg)]:pl-11 [&amp;>svg+div]:translate-y-[-3px] [&amp;>svg]:absolute [&amp;>svg]:left-4 [&amp;>svg]:top-4">
      <h5 class="mb-1 font-medium leading-none tracking-tight">Attention</h5>
      <div class="text-sm [&amp;_p]:leading-relaxed">This variant is :attention</div>
    </div>
  </div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("alert/code/_attention", :erb) %>
<% end %>

<%= render_example %>

<% content_for :examples, flush: true do %>
  <div class="w-full flex justify-center">
    <%= render "examples/components/alert/code/destructive" %>
  </div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("alert/code/_destructive", :erb) %>
<% end %>

<%= render_example %>
