<!--prettier-ignore-->
<%= render "layouts/documentation/component_header",
  title: "Alert",
  description: "Displays a callout for user attention" %>

<% content_for :preview, flush: true do %>
<div class="w-full">
  <%= render_alert title: "Did you know?", description: "You can wrap shadcn helpers in any
  component library you want!" %>
</div>

<div class="w-full">
  <%= render_alert(variant: :error, title: "Did you know?", description: "You can wrap shadcn
  helpers in any component library you want!") %>
</div>
<% end %>

<%= render_preview %>

<h2 class="font-heading scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0" id="installation">Installation</h2>
<%= code_sample(language: "sh") do %>
rails generate shadcn-ui accodordion
<% end %>

<h2 class="font-heading mt-12 scroll-m-20 border-b pb-2 mb-2 text-2xl font-semibold tracking-tight first:mt-0" id="usage"><a href="/docs/components/dialog#usage">Usage</a></h2>
