<!--prettier-ignore-->

<%= render "layouts/documentation/header",
  title: "Button",
  description: "Displays a button or a component that looks like a button." %>

<%= render "layouts/documentation/examples" do %>
<div class="w-full mx-auto flex justify-center"><%= render_button text: "Button" %></div>
<div class="w-full mx-auto flex justify-center">
  <%= render_button text: "Link", as: :link, href: "/" %>
</div>
<div class="w-full mx-auto flex justify-center">
  <%= render_button text: "Secondary", variant: :secondary %>
</div>
<div class="w-full mx-auto flex justify-center">
  <%= render_button text: "Destructive", variant: :destructive %>
</div>
<div class="w-full mx-auto flex justify-center">
  <%= render_button text: "Outline", variant: :outline %>
</div>
<div class="w-full mx-auto flex justify-center">
  <%= render_button text: "Ghost", variant: :ghost %>
</div>
<div class="w-full mx-auto flex justify-center">
  <%= render_button text: "Ghost Link", variant: :ghost, as: :link %>
</div>
<% end %>
