<!--prettier-ignore-->
<%= content_block = capture do %>
  <div class="mx-auto w-full min-w-0">

    <%= render "layouts/documentation/component_header",
      title: "Button",
      description: "Displays a button or a component that looks like a button." %>

    <%= content_for :preview, flush: true do %>
      <%= render_code_preview('button') %>
    <% end %>

    <% content_for :code, flush: true do %>
      <%= code_partial("button/preview", :erb) %>
    <% end %>

    <%= render_preview %>

    <h2 class="font-heading scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0" id="installation">Installation</h2>
    <%= code_sample(language: "sh") do %>
      rails generate shadcn-ui button
    <% end %>

    <h2 class="font-heading mt-12 scroll-m-20 border-b pb-2 mb-2 text-2xl font-semibold tracking-tight first:mt-0" id="usage">Usage</h2>
    <%= code_partial("button/usage", :erb) %>

    <%= render_usage("button") %>
  </div>
<% end %>


<%= render 'layouts/shared/table_content', content: content_block %>
