<!--prettier-ignore-->
<%= render "layouts/documentation/component_header",
  title: "Card",
  description: "Displays a card with header, content, and footer." %>

<%= content_for :preview, flush: true do %>
  <div class="w-full flex justify-center"><%= render_card body: "The Most Basic of Cards" %></div>
  <div class="w-full flex justify-center">
    <%= render_card title: "Did you know?", body: "You can embed any HTML in the body of a card by
    yielding to a block for the body?", subtitle: "This is important.", footer: "Have a great day!" %>
  </div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("card/code/preview", :erb) %>
<% end %>

<%= render_preview %>

<h2 class="font-heading scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0" id="installation">Installation</h2>
<%= code_sample(language: "sh") do %>
  rails generate shadcn-ui card
<% end %>

<h2 class="font-heading mt-12 scroll-m-20 border-b pb-2 mb-2 text-2xl font-semibold tracking-tight first:mt-0" id="usage">Usage</h2>
<%= code_partial("card/code/usage", :erb) %>

<%= render_usage("card") %>

<% content_for :examples, flush: true do %>
  <%= render "examples/components/card/code/form" %>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("card/code/_form", :erb) %>
<% end %>

<%= render_example %>

<% content_for :examples, flush: true do %>
  <%= render "examples/components/card/code/notifications" %>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("card/code/_notifications", :erb) %>
<% end %>

<%= render_example %>
