<%= render_component_header title: "Forms",
      description: "Creates an ActiveModel backed form with error " %>

<% content_for :preview, flush: true do %>
<div class="w-full flex justify-center">
  <%= render_code_preview('forms') %>
</div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("forms/preview", :erb) %>
<% end %>

<%= render_preview %>

<h2 class="font-heading scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0" id="installation">Installation</h2>
<%= code_sample(language: "sh") do %>
  rails generate shadcn-ui forms
<% end %>

<h2 class="font-heading mt-12 scroll-m-20 border-b pb-2 mb-2 text-2xl font-semibold tracking-tight first:mt-0" id="usage">Usage</h2>
<%= code_partial("forms/usage", :erb) %>
<%= render_usage("forms") %>
