<!--prettier-ignore-->

<%= render "layouts/documentation/component_header",
  title: "Separator",
  description: "Visually or semantically separates content." %>
<%= content_for :preview, flush: true do %>
  <div class="w-full flex justify-center">
    <%= render_code_preview('separator') %>
  </div>
<% end %>

<% content_for :code, flush: true do %>
<div class="w-full flex justify-center">
  <%= code_partial("separator/preview", :erb) %>
</div>
<% end %>

<%= render_preview %>

<h2 class="font-heading scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0" id="installation">Installation</h2>
<%= code_sample(language: "sh") do %>
  rails generate shadcn-ui separator
<% end %>

<h2 class="font-heading mt-12 scroll-m-20 border-b pb-2 mb-2 text-2xl font-semibold tracking-tight first:mt-0" id="usage"><a href="/docs/components/dialog#usage">Usage</a></h2>
<%= code_partial("separator/usage", :erb) %>

<%= render_usage("separator") %>

<% content_for :examples, flush: true do %>
  <div class="w-full flex justify-center">
    <%= render "examples/components/separator/code/fancy" %>
  </div>
<% end %>

<% content_for :code, flush: true do %>
  <%= code_partial("separator/fancy", :erb) %>
<% end %>

<%= render_example %>
