<%= render "layouts/documentation/component_header",
  title: "Table",
  description: "A simple table component for displaying data in rows and columns." %>

<% content_for :preview, flush: true do %>
<div class="w-full flex justify-center">
  <%= render_code_preview('table') %>
</div>
<% end %>

<% content_for :code, flush: true do %>
<div class="w-full flex justify-center">
  <%= code_partial("table/preview", :erb) %>
</div>
<% end %>

<%= render_preview %>

<h2 class="font-heading scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0" id="installation">Installation</h2>
<%= code_sample(language: "sh") do %>
  rails generate shadcn-ui table
<% end %>

<h2 class="font-heading mt-12 scroll-m-20 border-b pb-2 mb-2 text-2xl font-semibold tracking-tight first:mt-0" id="usage">Usage</h2>
<%= code_partial("table/usage", :erb) %>

<%= render_usage("table") %>
