<p class="leading-7 [&:not(:first-child)]:mt-6">The Input component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/input_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_input.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
  <%= code("render_input") %> accepts a <%= code("name:") %> argument for the name of the text field along with optional <%= code("id:") %> and <%= code("variant:") %> (only supporting <%= code(":borderless") %> currently)
<p>
