<p class="leading-7 [&:not(:first-child)]:mt-6">The Accordion component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/accordion_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_accordion.html.erb") %></li>
  <li><%= code("app/javascript/controllers/ui/accordion_controller.js") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
The method <%= code("render_accordion") %> defined in <%= code("app/helpers/components/accordion_helper.rb") %>
accepts a <%= code("title:") %> and <%= code("description:") %> keyword arguments in the inline usage.</p>

<p class="leading-7 [&:not(:first-child)]:mt-6">When passed only a <%= code("title") %> argument, the helper will accept a block to be rendered as the content for the description.</p>

<p class="leading-7 [&:not(:first-child)]:mt-6">When passed no arguments, the block passed to the accordion helper must call <%= code("accordion_title") %> and <%= code("accordion_description") %> both of which accept blocks for the content for those portals within the component.</p>
