<p class="leading-7 [&:not(:first-child)]:mt-6">The Dropdown Menu component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/date_picker.rb") %></li>
  <li><%= code("app/views/components/ui/_date_picker.html.erb") %></li>
  <li><%= code("app/javascript/controllers/ui/date-picker_controller.js") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
The method <%= code("render_date_picker") %> defined in <%= code("app/helpers/components/date_picker.rb") %>
accepts a block for the two inner components. Each of those accepts a block for their respective content.</p>

<p class="leading-7 [&:not(:first-child)]:mt-6">
Within the block, you can use the following methods:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li> - accepts an argument for the label section of the dropdown menu. This is optional.</li>
  <li> - an arbitrary amount of these can be used for each menu item you want to include. This method either accepts a string or a block for the content you want.</li>
</ul>
