<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1">
    <!--prettier-ignore-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= content_for :stylesheets %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="relative flex min-h-screen flex-col">
      <%= render 'layouts/shared/header' %>
      <div class="flex-1">
        <div class="border-b">
          <div
            class="container flex-1 items-start ">
            <!--prettier-ignore-->
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
